<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <style>
        @font-face {
            src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2479807/CosiAzure-Black.woff2") format("woff2");
            font-family: "Cosi Azure";
        }
        @font-face {
            src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2479807/ageo-regular.woff2") format("woff2");
            font-family: "Ageo";
        }
        body {
            font-family: "Cosi Azure", sans-serif;
            text-rendering: optimizeLegibility;
            color: white;
            background-color: #151515;
        }
        .header {
            display: flex;
            justify-content: space-between;
            padding: 64px 0;
            max-width: 70vw;
            margin: 0 auto;
        }
        .header__logo {
            display: flex;
            align-items: center;
        }
        .header__logo .dot {
            display: inline-block;
            height: 24px;
            width: 24px;
            background-color: #af6c72;
            border-radius: 50%;
        }
        .header__logo .dot:last-child {
            height: 16px;
            width: 16px;
            margin-left: 4px;
        }
        html {
            height: 100%;
        }
        .contain_body{
            display: table;
        }
        .row{
            display: table-cell;
            /* text-align: center; */
            vertical-align: middle;
            margin-left: 2px;
        }
        .form-inline{
            display: inline-block;
        }
        .col-md-2, .col-md-4{
            /* text-align: center; */
            float: left;
            margin-right: 8px;
        }
        /* .row{
            display: inline-block;
        }*/
        /* .row2{
            vertical-align: middle;
            margin-left: 2px;
        } */
    </style>
    <script>
    //초기 세팅
    $(document).ready(function () {

    $("input").keydown(function (key) {
        if (key.keyCode == 13) {

            event.preventDefault();

            Search();
        } 
    });

    initialize();
      // 단일/복합
      $('#compound').bind('click', function (e) {
        $("#compound").prop("checked", true);
        $("#compound1").prop("checked", false);
        $("#compound2").prop("checked", false);
    });

    $('#compound1').bind('click', function (e) {
        $("#compound").prop("checked", false);
        $("#compound1").prop("checked", true);
        $("#compound2").prop("checked", false);
    });

    $('#compound2').bind('click', function (e) {
        $("#compound").prop("checked", false);
        $("#compound1").prop("checked", false);
        $("#compound2").prop("checked", true);
    });

    // 마크
    $('#mark').bind('click', function (e) {
        getMarkCodeImg($("input[type=checkbox][name=use_yn]:checked").val(), $("input[type=checkbox][name=group_code]:checked").val(), 1);
    });

    /* $('#use_y').bind('click', function (e) {
        $("#use_y").prop("checked", true);
        $("#use_all").prop("checked", false);

        getMarkCodeImg($("input[type=checkbox][name=use_yn]:checked").val(), $("input[type=checkbox][name=group_code]:checked").val(), 1);
    });

    $('#use_all').bind('click', function (e) {
        $("#use_y").prop("checked", false);
        $("#use_all").prop("checked", true);

        getMarkCodeImg($("input[type=checkbox][name=use_yn]:checked").val(), $("input[type=checkbox][name=group_code]:checked").val(), 1);
    });

    $('#group_codecom').bind('click', function (e) {
        $("#group_codecom").prop("checked", true);
        $("#group_codebody").prop("checked", false);
        $("#group_codeaniplant").prop("checked", false);
        $("#group_codeetc").prop("checked", false);
        $("#group_codeall").prop("checked", false);

        getMarkCodeImg($("input[type=checkbox][name=use_yn]:checked").val(), $("input[type=checkbox][name=group_code]:checked").val(), 1);
    });

    $('#group_codebody').bind('click', function (e) {
        $("#group_codecom").prop("checked", false);
        $("#group_codebody").prop("checked", true);
        $("#group_codeaniplant").prop("checked", false);
        $("#group_codeetc").prop("checked", false);
        $("#group_codeall").prop("checked", false);

        getMarkCodeImg($("input[type=checkbox][name=use_yn]:checked").val(), $("input[type=checkbox][name=group_code]:checked").val(), 1);
    });

    $('#group_codeaniplant').bind('click', function (e) {
        $("#group_codecom").prop("checked", false);
        $("#group_codebody").prop("checked", false);
        $("#group_codeaniplant").prop("checked", true);
        $("#group_codeetc").prop("checked", false);
        $("#group_codeall").prop("checked", false);

        getMarkCodeImg($("input[type=checkbox][name=use_yn]:checked").val(), $("input[type=checkbox][name=group_code]:checked").val(), 1);
    });

    $('#group_codeetc').bind('click', function (e) {
        $("#group_codecom").prop("checked", false);
        $("#group_codebody").prop("checked", false);
        $("#group_codeaniplant").prop("checked", false);
        $("#group_codeetc").prop("checked", true);
        $("#group_codeall").prop("checked", false);

        getMarkCodeImg($("input[type=checkbox][name=use_yn]:checked").val(), $("input[type=checkbox][name=group_code]:checked").val(), 1);
    });

    $('#group_codeall').bind('click', function (e) {
        $("#group_codecom").prop("checked", false);
        $("#group_codebody").prop("checked", false);
        $("#group_codeaniplant").prop("checked", false);
        $("#group_codeetc").prop("checked", false);
        $("#group_codeall").prop("checked", true);

        getMarkCodeImg($("input[type=checkbox][name=use_yn]:checked").val(), $("input[type=checkbox][name=group_code]:checked").val(), 1);
    }); */

    // 제형
    $('#formcode').bind('click', function (e) {
        $("#formcode").prop("checked", true);
        $("#formcode1").prop("checked", false);
        $("#formcode2").prop("checked", false);
        $("#formcode3").prop("checked", false);
        $("#formcode4").prop("checked", false);
    });

    $('#formcode1').bind('click', function (e) {
        $("#formcode").prop("checked", false);
        $("#formcode1").prop("checked", true);
        $("#formcode2").prop("checked", false);
        $("#formcode3").prop("checked", false);
        $("#formcode4").prop("checked", false);
    });

    $('#formcode2').bind('click', function (e) {
        $("#formcode").prop("checked", false);
        $("#formcode1").prop("checked", false);
        $("#formcode2").prop("checked", true);
        $("#formcode3").prop("checked", false);
        $("#formcode4").prop("checked", false);
    });

    $('#formcode3').bind('click', function (e) {
        $("#formcode").prop("checked", false);
        $("#formcode1").prop("checked", false);
        $("#formcode2").prop("checked", false);
        $("#formcode3").prop("checked", true);
        $("#formcode4").prop("checked", false);
    });

    $('#formcode4').bind('click', function (e) {
        $("#formcode").prop("checked", false);
        $("#formcode1").prop("checked", false);
        $("#formcode2").prop("checked", false);
        $("#formcode3").prop("checked", false);
        $("#formcode4").prop("checked", true);
    });

    // 분할선 앞
    $('#linef').bind('click', function (e) {
        $("#linef").prop("checked", true);
        $("#linef1").prop("checked", false);
        $("#linef2").prop("checked", false);
        $("#linef3").prop("checked", false);
        $("#linef4").prop("checked", false);
    });

    $('#linef1').bind('click', function (e) {
        $("#linef").prop("checked", false);
        $("#linef1").prop("checked", true);
        $("#linef2").prop("checked", false);
        $("#linef3").prop("checked", false);
        $("#linef4").prop("checked", false);
    });

    $('#linef2').bind('click', function (e) {
        $("#linef").prop("checked", false);
        $("#linef1").prop("checked", false);
        $("#linef2").prop("checked", true);
        $("#linef3").prop("checked", false);
        $("#linef4").prop("checked", false);
    });

    $('#linef3').bind('click', function (e) {
        $("#linef").prop("checked", false);
        $("#linef1").prop("checked", false);
        $("#linef2").prop("checked", false);
        $("#linef3").prop("checked", true);
        $("#linef4").prop("checked", false);
    });

    $('#linef4').bind('click', function (e) {
        $("#linef").prop("checked", false);
        $("#linef1").prop("checked", false);
        $("#linef2").prop("checked", false);
        $("#linef3").prop("checked", false);
        $("#linef4").prop("checked", true);
    });

    // 분할선 뒤
    $('#lineb').bind('click', function (e) {
        $("#lineb").prop("checked", true);
        $("#lineb1").prop("checked", false);
        $("#lineb2").prop("checked", false);
        $("#lineb3").prop("checked", false);
        $("#lineb4").prop("checked", false);
    });

    $('#lineb1').bind('click', function (e) {
        $("#lineb").prop("checked", false);
        $("#lineb1").prop("checked", true);
        $("#lineb2").prop("checked", false);
        $("#lineb3").prop("checked", false);
        $("#lineb4").prop("checked", false);
    });

    $('#lineb2').bind('click', function (e) {
        $("#lineb").prop("checked", false);
        $("#lineb1").prop("checked", false);
        $("#lineb2").prop("checked", true);
        $("#lineb3").prop("checked", false);
        $("#lineb4").prop("checked", false);
    });

    $('#lineb3').bind('click', function (e) {
        $("#lineb").prop("checked", false);
        $("#lineb1").prop("checked", false);
        $("#lineb2").prop("checked", false);
        $("#lineb3").prop("checked", true);
        $("#lineb4").prop("checked", false);
    });

    $('#lineb4').bind('click', function (e) {
        $("#lineb").prop("checked", false);
        $("#lineb1").prop("checked", false);
        $("#lineb2").prop("checked", false);
        $("#lineb3").prop("checked", false);
        $("#lineb4").prop("checked", true);
    });

    // 모양
    $('#shape').bind('click', function (e) {
        $("#shape").prop("checked", true);
        $("#shape1").prop("checked", false);
        $("#shape2").prop("checked", false);
        $("#shape3").prop("checked", false);
        $("#shape4").prop("checked", false);
        $("#shape5").prop("checked", false);
        $("#shape6").prop("checked", false);
        $("#shape7").prop("checked", false);
        $("#shape8").prop("checked", false);
        $("#shape9").prop("checked", false);
        $("#shape10").prop("checked", false);
        $("#shape11").prop("checked", false);

        $("#shapeetc").hide();
        $("#shape12").prop("checked", false);
        $("#shape13").prop("checked", false);
        $("#shape14").prop("checked", false);
        $("#shape15").prop("checked", false);
        $("#shape16").prop("checked", false);
        $("#shape17").prop("checked", false);
        $("#shape18").prop("checked", false);
        $("#shape19").prop("checked", false);
        $("#shape20").prop("checked", false);
        $("#shape21").prop("checked", false);
        $("#shape22").prop("checked", false);
        $("#shape23").prop("checked", false);
        $("#shape24").prop("checked", false);
        $("#shape25").prop("checked", false);
        $("#shape26").prop("checked", false);
        $("#shape27").prop("checked", false);
        $("#shape28").prop("checked", false);
        $("#shape29").prop("checked", false);
        $("#shape30").prop("checked", false);
        $("#shape31").prop("checked", false);
        $("#shape32").prop("checked", false);
    });

    $('#shape1').bind('click', function (e) {
        $("#shape").prop("checked", false);

        if (true == $("#shape1").prop("checked")) {
            $("#shape2").prop("checked", false == $("#shape2").is("checked") ? true : false);
        }
    });

    $('#shape2').bind('click', function (e) {
        $("#shape").prop("checked", false);

        if (true == $("#shape2").prop("checked")) {
            $("#shape1").prop("checked", false == $("#shape1").is("checked") ? true : false);
        }
    });

    $('#shape3').bind('click', function (e) {
        $("#shape").prop("checked", false);
    });

    $('#shape4').bind('click', function (e) {
        $("#shape").prop("checked", false);
    });

    $('#shape5').bind('click', function (e) {
        $("#shape").prop("checked", false);
    });

    $('#shape6').bind('click', function (e) {
        $("#shape").prop("checked", false);

        if (true == $("#shape6").prop("checked")) {
            $("#shape7").prop("checked", false == $("#shape7").is("checked") ? true : false);
        }
    });

    $('#shape7').bind('click', function (e) {
        $("#shape").prop("checked", false);

        if (true == $("#shape7").prop("checked")) {
            $("#shape6").prop("checked", false == $("#shape6").is("checked") ? true : false);
        }
    });

    $('#shape8').bind('click', function (e) {
        $("#shape").prop("checked", false);
    });

    $('#shape9').bind('click', function (e) {
        $("#shape").prop("checked", false);
    });

    $('#shape10').bind('click', function (e) {
        $("#shape").prop("checked", false);
    });

    $('#shape11').bind('click', function (e) {
        $("#shape").prop("checked", false);

        if (false == $("#shapeetc").is(':visible')) {
            $("#shapeetc").show();
        }
        else {

            if ($("#shape11").prop("checked")) {
                $("#shapeetc").show();
            }
            else {
                $("#shapeetc").hide();
            }            

            $("#shape12").prop("checked", false);
            $("#shape13").prop("checked", false);
            $("#shape14").prop("checked", false);
            $("#shape15").prop("checked", false);
            $("#shape16").prop("checked", false);
            $("#shape17").prop("checked", false);
            $("#shape18").prop("checked", false);
            $("#shape19").prop("checked", false);
            $("#shape20").prop("checked", false);
            $("#shape21").prop("checked", false);
            $("#shape22").prop("checked", false);
            $("#shape23").prop("checked", false);
            $("#shape24").prop("checked", false);
            $("#shape25").prop("checked", false);
            $("#shape26").prop("checked", false);
            $("#shape27").prop("checked", false);
            $("#shape28").prop("checked", false);
            $("#shape29").prop("checked", false);
            $("#shape30").prop("checked", false);
            $("#shape31").prop("checked", false);
            $("#shape32").prop("checked", false);
        }
    });

    $('#shape12').bind('click', function (e) {
        $("#shape").prop("checked", false);
        $("#shape11").prop("checked", false);
    });

    $('#shape12').bind('click', function (e) {
        $("#shape").prop("checked", false);
        $("#shape11").prop("checked", false);
    });

    $('#shape13').bind('click', function (e) {
        $("#shape").prop("checked", false);
        $("#shape11").prop("checked", false);
    });

    $('#shape14').bind('click', function (e) {
        $("#shape").prop("checked", false);
        $("#shape11").prop("checked", false);
    });

    $('#shape15').bind('click', function (e) {
        $("#shape").prop("checked", false);
        $("#shape11").prop("checked", false);
    });

    $('#shape16').bind('click', function (e) {
        $("#shape").prop("checked", false);
        $("#shape11").prop("checked", false);
    });

    $('#shape17').bind('click', function (e) {
        $("#shape").prop("checked", false);
        $("#shape11").prop("checked", false);
    });

    $('#shape18').bind('click', function (e) {
        $("#shape").prop("checked", false);
        $("#shape11").prop("checked", false);
    });

    $('#shape19').bind('click', function (e) {
        $("#shape").prop("checked", false);
        $("#shape11").prop("checked", false);
    });

    $('#shape20').bind('click', function (e) {
        $("#shape").prop("checked", false);
        $("#shape11").prop("checked", false);
    });

    $('#shape21').bind('click', function (e) {
        $("#shape").prop("checked", false);
        $("#shape11").prop("checked", false);
    });

    $('#shape22').bind('click', function (e) {
        $("#shape").prop("checked", false);
        $("#shape11").prop("checked", false);
    });

    $('#shape23').bind('click', function (e) {
        $("#shape").prop("checked", false);
        $("#shape11").prop("checked", false);
    });

    $('#shape24').bind('click', function (e) {
        $("#shape").prop("checked", false);
        $("#shape11").prop("checked", false);
    });

    $('#shape25').bind('click', function (e) {
        $("#shape").prop("checked", false);
        $("#shape11").prop("checked", false);
    });

    $('#shape26').bind('click', function (e) {
        $("#shape").prop("checked", false);
        $("#shape11").prop("checked", false);
    });

    $('#shape27').bind('click', function (e) {
        $("#shape").prop("checked", false);
        $("#shape11").prop("checked", false);
    });

    $('#shape28').bind('click', function (e) {
        $("#shape").prop("checked", false);
        $("#shape11").prop("checked", false);
    });

    $('#shape29').bind('click', function (e) {
        $("#shape").prop("checked", false);
        $("#shape11").prop("checked", false);
    });

    $('#shape30').bind('click', function (e) {
        $("#shape").prop("checked", false);
        $("#shape11").prop("checked", false);
    });

    $('#shape31').bind('click', function (e) {
        $("#shape").prop("checked", false);
        $("#shape11").prop("checked", false);
    });

    $('#shape32').bind('click', function (e) {
        $("#shape").prop("checked", false);
        $("#shape11").prop("checked", false);
    });

    // 색상
    $('#color').bind('click', function (e) {
        $("#color").prop("checked", true);
        $("#color1").prop("checked", false);
        $("#color2").prop("checked", false);
        $("#color3").prop("checked", false);
        $("#color4").prop("checked", false);
        $("#color5").prop("checked", false);
        $("#color6").prop("checked", false);
        $("#color7").prop("checked", false);
        $("#color8").prop("checked", false);
        $("#color9").prop("checked", false);
        $("#color10").prop("checked", false);
        $("#color11").prop("checked", false);
        $("#color12").prop("checked", false);
        $("#color13").prop("checked", false);
        $("#color14").prop("checked", false);
        $("#color15").prop("checked", false);
        $("#color16").prop("checked", false);
    });

    $('#color1').bind('click', function (e) {
        $("#color").prop("checked", false);
    });

    $('#color2').bind('click', function (e) {
        $("#color").prop("checked", false);        

        if (true == $("#color2").prop("checked")) {
            //$("#color2").prop("checked", false == $("#color2").is("checked") ? true : false);
            $("#color3").prop("checked", false == $("#color3").is("checked") ? true : false);
            $("#color4").prop("checked", false == $("#color4").is("checked") ? true : false);
            $("#color5").prop("checked", false == $("#color5").is("checked") ? true : false);
            $("#color6").prop("checked", false == $("#color6").is("checked") ? true : false);
        }        
    });

    $('#color3').bind('click', function (e) {
        $("#color").prop("checked", false); 

        if (true == $("#color3").prop("checked")) {
            $("#color2").prop("checked", false == $("#color2").is("checked") ? true : false);
            $("#color4").prop("checked", false == $("#color4").is("checked") ? true : false);
            $("#color5").prop("checked", false == $("#color5").is("checked") ? true : false);
            $("#color6").prop("checked", false == $("#color6").is("checked") ? true : false);
        }        
    });

    $('#color4').bind('click', function (e) {
        $("#color").prop("checked", false);

        if (true == $("#color4").prop("checked")) {
            $("#color2").prop("checked", false == $("#color2").is("checked") ? true : false);
            $("#color3").prop("checked", false == $("#color3").is("checked") ? true : false);
            $("#color5").prop("checked", false == $("#color5").is("checked") ? true : false);
            $("#color6").prop("checked", false == $("#color6").is("checked") ? true : false);
        }        
    });

    $('#color5').bind('click', function (e) {
        $("#color").prop("checked", false);

        if (true == $("#color5").prop("checked")) {
            $("#color2").prop("checked", false == $("#color2").is("checked") ? true : false);
            $("#color3").prop("checked", false == $("#color3").is("checked") ? true : false);
            $("#color4").prop("checked", false == $("#color4").is("checked") ? true : false);
            $("#color6").prop("checked", false == $("#color6").is("checked") ? true : false);
        }        
    });

    $('#color6').bind('click', function (e) {
        $("#color").prop("checked", false);

        if (true == $("#color6").prop("checked")) {
            $("#color2").prop("checked", false == $("#color2").is("checked") ? true : false);
            $("#color3").prop("checked", false == $("#color3").is("checked") ? true : false);
            $("#color4").prop("checked", false == $("#color4").is("checked") ? true : false);
            $("#color5").prop("checked", false == $("#color5").is("checked") ? true : false);
        }
    });

    $('#color7').bind('click', function (e) {
        $("#color").prop("checked", false);

        if (true == $("#color7").prop("checked")) {
            $("#color8").prop("checked", false == $("#color8").is("checked") ? true : false);
            $("#color9").prop("checked", false == $("#color9").is("checked") ? true : false);
        }
    });

    $('#color8').bind('click', function (e) {
        $("#color").prop("checked", false);

        if (true == $("#color8").prop("checked")) {
            $("#color7").prop("checked", false == $("#color7").is("checked") ? true : false);
            $("#color9").prop("checked", false == $("#color3").is("checked") ? true : false);
        }
    });

    $('#color9').bind('click', function (e) {
        $("#color").prop("checked", false);

        if (true == $("#color9").prop("checked")) {
            $("#color7").prop("checked", false == $("#color7").is("checked") ? true : false);
            $("#color8").prop("checked", false == $("#color8").is("checked") ? true : false);
        }
    });

    $('#color10').bind('click', function (e) {
        $("#color").prop("checked", false);

        if (true == $("#color10").prop("checked")) {
            $("#color11").prop("checked", false == $("#color11").is("checked") ? true : false);
        }
    });

    $('#color11').bind('click', function (e) {
        $("#color").prop("checked", false);

        if (true == $("#color11").prop("checked")) {
            $("#color10").prop("checked", false == $("#color10").is("checked") ? true : false);
        }
    });

    $('#color12').bind('click', function (e) {
        $("#color").prop("checked", false);

        if (true == $("#color12").prop("checked")) {
            $("#color13").prop("checked", false == $("#color13").is("checked") ? true : false);
        }
    });

    $('#color13').bind('click', function (e) {
        $("#color").prop("checked", false);

        if (true == $("#color13").prop("checked")) {
            $("#color12").prop("checked", false == $("#color12").is("checked") ? true : false);
        }
    });

    $('#color14').bind('click', function (e) {
        $("#color").prop("checked", false);
    });

    $('#color15').bind('click', function (e) {
        $("#color").prop("checked", false);
    });

    $('#color16').bind('click', function (e) {
        $("#color").prop("checked", false);
    });
});
    // 다시 입력
    function initialize() {
        $("#itemnm").val("");
        $("#ingrname").val("");
        $("#mnfentpnm").val("");

        $("#compound").prop("checked", true);
        $("#compound1").prop("checked", false);
        $("#compound2").prop("checked", false);

        $("#printchar").val("");
        $("#printchareq").prop("checked", false);

        $("#markcodeimgdiv").hide();
        $("#markcodeimgdivtdoby").html("");
        $("#markimgage").val("");
        $("#mark").attr("src", "plus-square.svg");
        $("#mark").attr("style", "width: 36px; height: 36px;");
        $("#use_y").prop("checked", true);
        $("#use_all").prop("checked", false);
        $("#group_codecom").prop("checked", true);
        $("#group_codebody").prop("checked", false);
        $("#group_codeaniplant").prop("checked", false);
        $("#group_codeetc").prop("checked", false);
        $("#group_codeall").prop("checked", false);

        $("#formcode").prop("checked", true);
        $("#formcode1").prop("checked", false);
        $("#formcode2").prop("checked", false);
        $("#formcode3").prop("checked", false);
        $("#formcode4").prop("checked", false);

        $("#linef").prop("checked", true);
        $("#linef1").prop("checked", false);
        $("#linef2").prop("checked", false);
        $("#linef3").prop("checked", false);
        $("#linef4").prop("checked", false);

        $("#lineb").prop("checked", true);
        $("#lineb1").prop("checked", false);
        $("#lineb2").prop("checked", false);
        $("#lineb3").prop("checked", false);
        $("#lineb4").prop("checked", false);

        $("#shape").prop("checked", true);
        $("#shape1").prop("checked", false);
        $("#shape2").prop("checked", false);
        $("#shape3").prop("checked", false);
        $("#shape4").prop("checked", false);
        $("#shape5").prop("checked", false);
        $("#shape6").prop("checked", false);
        $("#shape7").prop("checked", false);
        $("#shape8").prop("checked", false);
        $("#shape9").prop("checked", false);
        $("#shape10").prop("checked", false);
        $("#shape11").prop("checked", false);

        $("#shapeetc").hide();
        $("#shape12").prop("checked", false);
        $("#shape13").prop("checked", false);
        $("#shape14").prop("checked", false);
        $("#shape15").prop("checked", false);
        $("#shape16").prop("checked", false);
        $("#shape17").prop("checked", false);
        $("#shape18").prop("checked", false);
        $("#shape19").prop("checked", false);
        $("#shape20").prop("checked", false);
        $("#shape21").prop("checked", false);
        $("#shape22").prop("checked", false);
        $("#shape23").prop("checked", false);
        $("#shape24").prop("checked", false);
        $("#shape25").prop("checked", false);
        $("#shape26").prop("checked", false);
        $("#shape27").prop("checked", false);
        $("#shape28").prop("checked", false);
        $("#shape29").prop("checked", false);
        $("#shape30").prop("checked", false);
        $("#shape31").prop("checked", false);
        $("#shape32").prop("checked", false);

        $("#color").prop("checked", true);
        $("#color1").prop("checked", false);
        $("#color2").prop("checked", false);
        $("#color3").prop("checked", false);
        $("#color4").prop("checked", false);
        $("#color5").prop("checked", false);
        $("#color6").prop("checked", false);
        $("#color7").prop("checked", false);
        $("#color8").prop("checked", false);
        $("#color9").prop("checked", false);
        $("#color10").prop("checked", false);
        $("#color11").prop("checked", false);
        $("#color12").prop("checked", false);
        $("#color13").prop("checked", false);
        $("#color14").prop("checked", false);
        $("#color15").prop("checked", false);
        $("#color16").prop("checked", false);
        }

        //검색
        function Search() {

        if ("" == $("#itemnm").val() &&
            "" == $("#ingrname").val() &&
            "" == $("#mnfentpnm").val() &&
            "" == $("#printchar").val() &&
            true == $("#compound").prop("checked") &&
            "" == $("#markimgage").val() &&
            true == $("#formcode").prop("checked") &&
            true == $("#linef").prop("checked") &&
            true == $("#lineb").prop("checked") &&
            true == $("#shape").prop("checked") &&
            true == $("#color").prop("checked")) {

            showAlertDiv("검색하실 약품의 정보를 입력하신 후 검색해주세요.");

            //필요시
            $("#alert_yes").off("click");
            $("#alert_yes").on("click", function () {

                $("#alert_div").hide();
                $("#alert_msg").text("");

                //기존 처리함수
                $("#itemnm").focus();
            });

            return;
            }
            $('#searchIdentity').submit();
        }

    function getMarkCodeImg(use_yn, group_code, page) {
        var data = {
            "use_yn": use_yn,
            "group_code": group_code,
            "page": page
        };
    //ajax 호출(마크 식별 이미지)
    $.ajax({
        url: "/Api/GetMarkCodeImg/",
        cache: false,
        type: 'GET',
        dataType: "json",
        contentType: 'application/html; charset=utf-8',
        data: data,
        success: function (data) {

            var html = "";
            var navhtml = "";

            var imax = data.item.length / 5;
            
            for (var i = 0; i < imax; i++) {

                html += '<tr style="text-align:center;">';

                for (var j = 0 + (5 * i); j < (5 * i) + 5; j++) {

                    if (data.item.length == j) {
                        break;
                    }

                    html += "<td><img onclick=\"markimgclick('" + data.item[j].mark_code + "', '" + data.item[j].mark_code_img_filename + "')\" alt=\"" + data.item[j].mark_code + "\" style=\"width:50px;height:50px;border:1px solid;\" src=\"/MARK_IMAGE/" + data.item[j].mark_code_img_filename + "\" /></td>";
                    
                }
                
                html += '</tr>';

            }

            for (var i = 1; i <= data.count; i++) {

                if ("" == navhtml) {
                    navhtml = "<tr><td colspan=\"5\"><div style=\"text-align: center;\"><ul class=\"pagination\" style=\"left: 47 %;\">";
                }

                if (1 == i) {
                    if (page == i) {
                        navhtml += "<li><a class=\"pagelist\" style=\"cursor: pointer;\"><span>&lt;</span></a></li>";
                    }
                    else {
                        navhtml += "<li><a class=\"pagelist\" style=\"cursor: pointer;\" onclick=\"getMarkCodeImg('" + use_yn + "', '" + group_code + "', " + i + ")\"><span>&lt;</span></a></li>";
                    }
                }
                
                if (page == i) {
                    navhtml += "<li><a class=\"active\" style=\"cursor: pointer;\" onclick=\"getMarkCodeImg('" + use_yn + "', '" + group_code + "', " + i + ")\"><span><b>" + i + "</b></span></a></li>";
                }
                else {
                    navhtml += "<li><a class=\"pagelist\" style=\"cursor: pointer;\" onclick=\"getMarkCodeImg('" + use_yn + "', '" + group_code + "', " + i + ")\"><span>" + i + "</span></a></li>";
                }

                if (data.count == i) {
                    if (page == i) {
                        navhtml += "<li><a class=\"pagelist\" style=\"cursor: pointer;\"><span> &gt; </span></a></li>";
                    }
                    else {
                        navhtml += "";
                        navhtml += "<li><a class=\"pagelist\" style=\"cursor: pointer;\" onclick=\"getMarkCodeImg('" + use_yn + "', '" + group_code + "', " + i + ")\"><span> &gt; </span></a></li>";
                    }
                }                
            }

            navhtml += "</ul></div><div style=\"text-align:center;\"><a class=\"btn btn-default\" href=\"javascript:void(0);\" onclick=\"closemarkimg();\" attr-a=\"onclick : attr-a\">닫기</a></div></td></tr>";
            html += navhtml;

            $("#markcodeimgdivtdoby").html("");
            $("#markcodeimgdivtdoby").html(html);

            var height = $("#markcodeimgdiv").height();
            var left = $("#markleft").val();
            var top = ($(window).height() - height) / 4;

            top = top <= 0 ? 150 : top;

            $("#markcodeimgdiv").css("top", top);
            $("#markcodeimgdiv").css("left", left);

            $("#markcodeimgdiv").show();

            $('html, body').animate({ scrollTop: top - 266 }, $(window).scrollTop());

            return true;
        }, error: function (request, status, error) {
            showAlertDiv("마크이미지" + use_yn + "+" + group_code + " 조회 실패.");
            return true;
        }
    });
}
function markimgclick(markcode, markcodeimgfilename) {
    $("#markimgage").val(markcode);
    $("#mark").attr("src", "/MARK_IMAGE/" + markcodeimgfilename); 
    $("#mark").attr("style", "width: 36px; height: 36px; border: 1px solid;");

    $("#markcodeimgdiv").hide();
    $("#markcodeimgdivtdoby").html("");

    $("#use_y").prop("checked", true);
    $("#use_all").prop("checked", false);
    $("#group_codecom").prop("checked", true);
    $("#group_codebody").prop("checked", false);
    $("#group_codeaniplant").prop("checked", false);
    $("#group_codeetc").prop("checked", false);
    $("#group_codeall").prop("checked", false);
}

function closemarkimg() {    
    $("#markcodeimgdiv").hide();
    $("#markcodeimgdivtdoby").html("");

    $("#use_y").prop("checked", true);
    $("#use_all").prop("checked", false);
    $("#group_codecom").prop("checked", true);
    $("#group_codebody").prop("checked", false);
    $("#group_codeaniplant").prop("checked", false);
    $("#group_codeetc").prop("checked", false);
    $("#group_codeall").prop("checked", false);
}
</script>
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
        <div class="hero__col hero__col--1">
            <h1>Medicine</h1>
        </div>
    </header>
    <h2>약물 식별 검색</h2>
    <div class="contain_body">
        <div class="row" style="margin-top: 5px;">
            <form id="searchIdentity" class="form-inline" action="" method="post">
                <div class="col-md-2">
                    <label for="basic-url" style="margin-top:5px;" class="form-label">제품명</label>
                </div>
                <div class="col-md-4">
                    <input type="text" style="width:max-content;" class="form-control" id="itemnm" name="itemnm" maxlength="200" placeholder="테프라정40밀리그램">
                </div>
                <div class="col-md-2">
                    <label for="basic-url" style="margin-top:5px;" class="form-label">업체명</label>
                </div>
                <div class="col-md-4">
                    <input type="text" style="width:max-content;" class="form-control" id="mnfentpnm" name="mnfentpnm" maxlength="200" placeholder="한올바이오파마(주)">
                </div>
                <div class="col-md-2" style="margin-top:3px;">
                    <label for="basic-url" style="margin-top:5px;" class="form-label">성분명</label>
                </div>
                <div class="col-md-4" style="margin-top:3px;">
                    <input type="text" style="width:max-content;" class="form-control" id="ingrname" name="ingrname" maxlength="200" placeholder="propranolol">
                </div>
                <div class="col-md-2" style="margin-top:3px;">
                    <label for="basic-url" style="margin-top:5px;" class="form-label">단일/복합</label>
                </div>
                <div class="col-md-4" style="margin-top:3px; margin-bottom:5px;">
                    <div style="padding-top:5px;">
                        <input class="form-check-input" type="checkbox" name="compoundyn" id="compound" value="">
                        <label class="form-check-label" for="compound">
                            전체
                        </label>
                        <input class="form-check-input" type="checkbox" name="compoundyn" id="compound1" value="1">
                        <label class="form-check-label" for="compound1">
                            단일
                        </label>
                        <input class="form-check-input" type="checkbox" name="compoundyn" id="compound2" value="2">
                        <label class="form-check-label" for="compound2">
                            복합
                        </label>
                    </div>
                </div>
                <div class="col-md-2" style="margin-top:3px;">
                    <label for="basic-url" style="margin-top:5px;" class="form-label">식별문자</label>
                </div>
                <div class="col-md-4" style="margin-top:3px;">
                    <input type="text" style="width:max-content;" class="form-control" id="printchar" name="printchar" maxlength="25" placeholder="28">
                    <input class="form-check-input" type="checkbox" name="printchareq" id="printchareq" value="1">
                    <label class="form-check-label" for="equal">
                        일치
                    </label>
                </div>
                <div class="col-md-2" style="margin-top:3px;">
                    <label for="basic-url" style="margin-top:5px;" class="form-label">식별마크</label>
                </div>
                <div class="col-md-4" style="margin-top:3px;">
                    <input type="hidden" name="markimgage" id="markimgage" value="">
                    <img alt="마크선택" style="width: 36px; height: 36px;" name="mark" id="mark" src="plus-square.svg">
                </div>
            
                <div class="col-md-2" style="margin-top:3px;">
                    <label for="basic-url" style="margin-top:5px;" class="form-label">제형</label>
                </div>
                <div class="col-md-4" style="margin-top:3px;">
                    <div style="padding-top:5px;">
                        <input class="form-check-input" type="checkbox" name="formcode" id="formcode" value="">
                        <label class="form-check-label" for="formcode">
                            전체
                        </label><br>
                        <input class="form-check-input" type="checkbox" name="formcode" id="formcode1" value="1">
                        <label class="form-check-label" for="formcode1">
                            정제
                        </label>
                        <input class="form-check-input" type="checkbox" name="formcode" id="formcode2" value="2">
                        <label class="form-check-label" for="formcode2">
                            경질캡슐
                        </label>
                        <input class="form-check-input" type="checkbox" name="formcode" id="formcode3" value="3">
                        <label class="form-check-label" for="formcode3">
                            연질캡슐
                        </label>
                        <input class="form-check-input" type="checkbox" name="formcode" id="formcode4" value="4">
                        <label class="form-check-label" for="formcode4">
                            구강붕해필름
                        </label>
                    </div>
                </div>
                <div class="col-md-2" style="margin-top:3px;">
                    <label for="basic-url" style="margin-top:5px;" class="form-label">분할선</label>
                </div>
                <div class="col-md-4" style="margin-top:3px;">
                    <div style="padding-top:5px;">
                        <label class="form-check-label" for="font">
                            [앞]
                        </label>
                        <input class="form-check-input" type="checkbox" name="linefont" id="linef" value="">
                        <label class="form-check-label" for="line">
                            전체
                        </label>
                        <input class="form-check-input" type="checkbox" name="linefont" id="linef1" value="1">
                        <label class="form-check-label" for="line1">
                            없음
                        </label>
                        <input class="form-check-input" type="checkbox" name="linefont" id="linef2" value="2">
                        <label class="form-check-label" for="line2">
                            '+' 형
                        </label>
                        <input class="form-check-input" type="checkbox" name="linefont" id="linef3" value="3">
                        <label class="form-check-label" for="line3">
                            '-' 형
                        </label>
                        <input class="form-check-input" type="checkbox" name="linefont" id="linef4" value="4">
                        <label class="form-check-label" for="line3">
                            기타
                        </label><br>
                        <label class="form-check-label" for="back">
                            [뒤]
                        </label>
                        <input class="form-check-input" type="checkbox" name="lineback" id="lineb" value="">
                        <label class="form-check-label" for="line50">
                            전체
                        </label>
                        <input class="form-check-input" type="checkbox" name="lineback" id="lineb1" value="1">
                        <label class="form-check-label" for="line60">
                            없음
                        </label>
                        <input class="form-check-input" type="checkbox" name="lineback" id="lineb2" value="2">
                        <label class="form-check-label" for="line70">
                            '+' 형
                        </label>
                        <input class="form-check-input" type="checkbox" name="lineback" id="lineb3" value="3">
                        <label class="form-check-label" for="line80">
                            '-' 형
                        </label>
                        <input class="form-check-input" type="checkbox" name="lineback" id="lineb4" value="4">
                        <label class="form-check-label" for="line3">
                            기타
                        </label>
                    </div>
                </div>
                <div class="col-md-2" style="margin-top:3px;">
                    <label for="basic-url" style="margin-top:5px;" class="form-label">모양</label>
                </div>
                <div class="col-md-4" style="margin-top:3px;">
                    <div style="padding-top:5px;">
                        <input class="form-check-input" type="checkbox" name="shape" id="shape" value="">
                        <label class="form-check-label" for="shape">
                            전체
                        </label><br>
                        <input class="form-check-input" type="checkbox" name="shape" id="shape1" value="1">
                        <label class="form-check-label" for="shape1">
                            원형
                        </label>
                        <input class="form-check-input" type="checkbox" name="shape" id="shape2" value="2">
                        <label class="form-check-label" for="shape2">
                            타원형
                        </label>
                        <input class="form-check-input" type="checkbox" name="shape" id="shape3" value="3">
                        <label class="form-check-label" for="shape3">
                            장방형
                        </label>
                        <input class="form-check-input" type="checkbox" name="shape" id="shape4" value="4">
                        <label class="form-check-label" for="shape4">
                            반원형
                        </label><br>
                        <input class="form-check-input" type="checkbox" name="shape" id="shape5" value="5">
                        <label class="form-check-label" for="shape5">
                            삼각형
                        </label>
                        <input class="form-check-input" type="checkbox" name="shape" id="shape6" value="6">
                        <label class="form-check-label" for="shape6">
                            사각형
                        </label>
                        <input class="form-check-input" type="checkbox" name="shape" id="shape7" value="7">
                        <label class="form-check-label" for="shape7">
                            마름모형
                        </label>
                        <input class="form-check-input" type="checkbox" name="shape" id="shape8" value="8">
                        <label class="form-check-label" for="shape8">
                            오각형
                        </label><br>
                        <input class="form-check-input" type="checkbox" name="shape" id="shape9" value="9">
                        <label class="form-check-label" for="shape9">
                            육각형
                        </label>
                        <input class="form-check-input" type="checkbox" name="shape" id="shape10" value="10">
                        <label class="form-check-label" for="shape10">
                            팔각형
                        </label>
                        <input class="form-check-input" type="checkbox" name="shape" id="shape11" value="11">
                        <label class="form-check-label" for="shape11">
                            기타
                        </label><br>
                        <div name="shapeetc" id="shapeetc" style="display:none;">
                        <input class="form-check-input" type="checkbox" name="shape" id="shape12" value="12">
                        <label class="form-check-label" for="shape12">
                            8각형
                        </label>
                        <input class="form-check-input" type="checkbox" name="shape" id="shape13" value="13">
                        <label class="form-check-label" for="shape13">
                            강남콩형
                        </label>
                        <input class="form-check-input" type="checkbox" name="shape" id="shape14" value="14">
                        <label class="form-check-label" for="shape14">
                            과일모양
                        </label>
                        <input class="form-check-input" type="checkbox" name="shape" id="shape15" value="15">
                        <label class="form-check-label" for="shape15">
                            구형
                        </label><br>
                        <input class="form-check-input" type="checkbox" name="shape" id="shape16" value="16">
                        <label class="form-check-label" for="shape16">
                            나비넥타이형
                        </label>
                        <input class="form-check-input" type="checkbox" name="shape" id="shape17" value="17">
                        <label class="form-check-label" for="shape17">
                            나비모양
                        </label>
                        <input class="form-check-input" type="checkbox" name="shape" id="shape18" value="18">
                        <label class="form-check-label" for="shape18">
                            다이아몬드형
                        </label><br>
                        <input class="form-check-input" type="checkbox" name="shape" id="shape19" value="19">
                        <label class="form-check-label" for="shape19">
                            도넛형
                        </label>
                        <input class="form-check-input" type="checkbox" name="shape" id="shape20" value="20">
                        <label class="form-check-label" for="shape20">
                            동물모양
                        </label>
                        <input class="form-check-input" type="checkbox" name="shape" id="shape21" value="21">
                        <label class="form-check-label" for="shape21">
                            땅콩형
                        </label>
                        <input class="form-check-input" type="checkbox" name="shape" id="shape22" value="22">
                        <label class="form-check-label" for="shape22">
                            레몬형
                        </label><br>
                        <input class="form-check-input" type="checkbox" name="shape" id="shape23" value="23">
                        <label class="form-check-label" for="shape23">
                            물방울형
                        </label>
                        <input class="form-check-input" type="checkbox" name="shape" id="shape24" value="24">
                        <label class="form-check-label" for="shape24">
                            방패형
                        </label>
                        <input class="form-check-input" type="checkbox" name="shape" id="shape25" value="25">
                        <label class="form-check-label" for="shape25">
                            사과형
                        </label>
                        <input class="form-check-input" type="checkbox" name="shape" id="shape26" value="26">
                        <label class="form-check-label" for="shape26">
                            심장형
                        </label><br>
                        <input class="form-check-input" type="checkbox" name="shape" id="shape27" value="27">
                        <label class="form-check-label" for="shape27">
                            십각형
                        </label>
                        <input class="form-check-input" type="checkbox" name="shape" id="shape28" value="28">
                        <label class="form-check-label" for="shape28">
                            애벌레형
                        </label>
                        <input class="form-check-input" type="checkbox" name="shape" id="shape29" value="29">
                        <label class="form-check-label" for="shape29">
                            얼굴모양
                        </label>
                        <input class="form-check-input" type="checkbox" name="shape" id="shape30" value="30">
                        <label class="form-check-label" for="shape30">
                            오목한 삼각형
                        </label><br>
                        <input class="form-check-input" type="checkbox" name="shape" id="shape31" value="31">
                        <label class="form-check-label" for="shape31">
                            클로버형
                        </label>
                        <input class="form-check-input" type="checkbox" name="shape" id="shape32" value="32">
                        <label class="form-check-label" for="shape32">
                            탄환형
                        </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-2" style="margin-top:3px;">
                    <label for="basic-url" style="margin-top:5px;" class="form-label">색상</label>
                </div>
                <div class="col-md-4" style="margin-top:3px;">
                    <div style="padding-top:5px;">
                        <input class="form-check-input" type="checkbox" name="color" id="color" value="">
                        <label class="form-check-label" for="color">
                            전체
                        </label><br>
                        <input class="form-check-input" type="checkbox" name="color" id="color1" value="1">
                        <label class="form-check-label" for="color1">
                            하양
                        </label>
                        <input class="form-check-input" type="checkbox" name="color" id="color2" value="2">
                        <label class="form-check-label" for="color2">
                            노랑
                        </label>
                        <input class="form-check-input" type="checkbox" name="color" id="color3" value="3">
                        <label class="form-check-label" for="color3">
                            주황
                        </label>
                        <input class="form-check-input" type="checkbox" name="color" id="color4" value="4">
                        <label class="form-check-label" for="color4">
                            분홍
                        </label><br>
                        <input class="form-check-input" type="checkbox" name="color" id="color5" value="5">
                        <label class="form-check-label" for="color5">
                            빨강
                        </label>
                        <input class="form-check-input" type="checkbox" name="color" id="color6" value="6">
                        <label class="form-check-label" for="color6">
                            갈색
                        </label>
                        <input class="form-check-input" type="checkbox" name="color" id="color7" value="7">
                        <label class="form-check-label" for="color7">
                            연두
                        </label>
                        <input class="form-check-input" type="checkbox" name="color" id="color8" value="8">
                        <label class="form-check-label" for="color8">
                            초록
                        </label><br>
                        <input class="form-check-input" type="checkbox" name="color" id="color9" value="9">
                        <label class="form-check-label" for="color9">
                            청록
                        </label>
                        <input class="form-check-input" type="checkbox" name="color" id="color10" value="10">
                        <label class="form-check-label" for="color10">
                            파랑
                        </label>
                        <input class="form-check-input" type="checkbox" name="color" id="color11" value="11">
                        <label class="form-check-label" for="color11">
                            남색
                        </label>
                        <input class="form-check-input" type="checkbox" name="color" id="color12" value="12">
                        <label class="form-check-label" for="color12">
                            자주
                        </label><br>
                        <input class="form-check-input" type="checkbox" name="color" id="color13" value="13">
                        <label class="form-check-label" for="color13">
                            보라
                        </label>
                        <input class="form-check-input" type="checkbox" name="color" id="color14" value="14">
                        <label class="form-check-label" for="color14">
                            회색
                        </label>
                        <input class="form-check-input" type="checkbox" name="color" id="color15" value="15">
                        <label class="form-check-label" for="color15">
                            검정
                        </label>
                        <input class="form-check-input" type="checkbox" name="color" id="color16" value="16">
                        <label class="form-check-label" for="color16">
                            투명
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                </div>
                <div class="col-md-12" style="text-align:center; margin-top:5px;">
                    <a class="btn btn-default" href="javascript:void(0);" onclick="initialize();" attr-a="onclick : attr-a">다시 입력</a>
                    <a class="btn btn-default" href="javascript:void(0);" onclick="Search();" attr-a="onclick : attr-a">검색</a>
                </div>
                <!-- <div class="row2" style="margin-top: 5px;"></div>
                </div> -->
            </form>
            <footer>   
            </footer>
        </div>
        <hr>
                
            </div> 
    </div>
</body>
</html>